.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 150px;
  padding: 10px;
  line-height: 20px;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  background-color: rgb(245, 211, 217);
}
