.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  width: 150px;
  padding: 10px;
  line-height: 30px;
  border-radius: 3px;
  margin: 50px;
  text-align: center;
  color: white;
  background-color: rgb(245, 211, 217);
}
